{{- $gitName := promptStringOnce . "git.user" "Git Author Name" -}}
{{- $gitEmail := promptStringOnce . "git.email" "Git Author Email" -}}
{{- $gitSigningKey := promptStringOnce . "git.signingkey" "Git Signing Key" -}}
{{- $shouldImportSSH := promptBoolOnce . "importSSH" "Should I import SSH" -}}

[data]
{{ if $shouldImportSSH -}}
{{- $lastpassLoginId := promptStringOnce . "lastpassId" "LastPass Login ID" -}}
lastpassloginid = {{ $lastpassLoginId | quote }}
{{- end }}

[data.git]
name = {{ $gitName | quote }}
email = {{ $gitEmail | quote }}
signingkey = {{ $gitSigningKey | quote }}

[data.options]
importssh = {{ $shouldImportSSH }}
