#!/usr/bin/env sh

{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf install -y zsh bat exa trash-cli neovim python3-neovim lolcat fortune-mod cowsay starship git
{{ if .options.importssh -}}
sudo dnf install -y lastpass-cli
{{ end }}
{{ if .options.importgpg -}}
sudo dnf install -y gnupg jq
{{ end }}
{{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt install -y zsh bat exa trash-cli neovim python3 python3-neovim lolcat fortune-mod cowsay git
curl -sS https://starship.rs/install.sh | sudo sh -s -- -y
{{ if .options.importssh -}}
sudo apt install -y lastpass-cli
{{ end }}
{{ if .options.importgpg -}}
sudo apt install -y gnupg jq
{{ end }}
{{ end }}
{{ else if eq .chezmoi.os "darwin" -}}
brew install zsh bat exa trash-cli nvim lolcat fortune cowsay starship
{{ if .options.importssh -}}
brew install lastpass-cli
{{ end }}
{{ if .options.importssh -}}
brew install gnupg jq
{{ end }}
{{ end -}}

mkdir -p $HOME/.local/share/antigen
curl -L https://git.io/antigen > $HOME/.local/share/antigen/antigen.zsh

curl -fsSL https://fnm.vercel.app/install | bash -s -- -s

