#!/usr/bin/env sh

[ "$SHELL" = "/bin/zsh" ] && exit 0

printf "Current shell is '$SHELL', but should use zsh. Do u want to change it? [Y/n]: "
read -r answer

[[ "$answer" =~ [nN] ]] && exit 0
chsh -s /bin/zsh $USER
