{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env sh
{{ end -}}

# private_dot_ssh/private_id_rsa.tmpl hash: {{ include "private_dot_ssh/private_id_rsa.tmpl" | sha256sum }}

{{ if ne .chezmoi.os "windows" -}}
eval "$(ssh-agent -s)"
ssh-add $HOME/.ssh/id_rsa
{{ end -}}

